extends layout

block content

  h2 New ToDo

  form(action='/todos', method='post')
    .todo_description
      label Description:
      br
      textarea(name='todo[description]')=d.description || ''
    .todo_priority
      label Priority
    .todo_date
      Date
    div
      input(type='submit', value='Save')
